<template>
  <p class="description">
    Bonjour je m'appelle Jérémie et j'aime beaucoup la planche à voile<br>
    a+
  </p>
</template>

<style scoped>
  .description {
    color: blueviolet;
    font-size: 1.1em;
    line-height: 1.6em;
    text-align: center;
  }
</style>
