<template>
  <div class="layout">
    <Sidebar />
    <Page />
  </div>
</template>

<script>
import Vue from 'vue'
import Page from './Page.vue'
import Sidebar from './Sidebar.vue'

export default {
  components: { Page, Sidebar },
}
</script>

<style>
  body {
    margin: 0;
  }
</style>
<style scoped>
  .layout {
    display: flex;
    width: 100%;
  }
</style>
<style src="./styles/code.styl" lang="stylus"></style>
<style src="prismjs/themes/prism-tomorrow.css"></style>
