<template>
  <div class="nav-item">
    <NavLink :item="item" />
  </div>
</template>

<script>
import NavLink from './NavLink.vue'

export default {
  components: { NavLink },
  props: {
    item: {
      required: true,
    }
  }
}
</script>

<style scoped>
  .nav-item {
    margin: 1em;
  }
</style>
