<template>
  <div class="page">
    <div class="page-content">
      <div
        class="custom-layout"
        v-if="$page.frontmatter.layout"
      >
        <component :is="$page.frontmatter.layout"/>
      </div>

      <Content v-else />
    </div>
  </div>
</template>

<style scoped>
.page {
  margin-left: 370px;
  width: 100%;
}
.page-content {
  margin: 1em;
}
</style>
<style>
.red {
  color: pink;
}
.red h1 {
  color: red;
}
.green {
  color: green;
}
.green h1 {
  color: olive;
}
</style>
