<template>
  <div class="sidebar">
    <div class="sidebar-content">
      <h1 class="site-title">{{$site.title}}</h1>
      <Description />
      <NavLinks />
    </div>
  </div>
</template>

<script>
import Description from './Description.vue';
import NavLinks from './NavLinks.vue';
export default {
  components: { Description, NavLinks },
}
</script>

<style scoped>
.sidebar {
  background-color: aquamarine;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 370px;
}
.sidebar-content {
  margin: 1em;
}
.site-title {
  color: #7f7bb0;
  font-size: 2.5em;
  text-align: center;
}
</style>
