<template>
  <div class="blue">
    <h2>I'm blue</h2>
    <Content />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/68ugkg9RePc?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</template>

<style scoped>
.blue {
  background-color: #007eff;
  color: white;
  text-align: center;
  height: 95vh;
  width: 60vw;
}
</style>
